.title{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;

}

.title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:#757575;
    margin-top: 1%;
    margin-left: 1%;
    border-left: 6px solid #00695c;
}